name: ZMK Firmware Build

on:
  push:
    paths:
      - "config/**"
      - "boards/**"
      - "zephyr/**"
      - ".github/workflows/build.yaml"
      - "west.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build ZMK firmware
        uses: zmkfirmware/zmk-build-action@v1
        with:
          build_matrix_path: build.yaml
